@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// colors
$danger: #ff521c;

// dark theme
$dark-primary: #201f1c;
$dark-secondary: #fff;
$dark-accent: #ffbd13;

// light theme
$light-primary: #fff;
$light-secondary: #201f1c;
$light-accent: #ffbd13;

// fonts
$ff-primary: "Poppins", sans-serif;
$bold: 700;
$black: 800;
$regular: 500;
$light: 300;
$thin: 200;

// border border
$br-sm: 5px;
$br-md: 9px;
$br-lg: 12px;
